#panel-wrp {
  background-color: rgb(235, 235, 235);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(min-content, 50%);
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 50vw));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); */
  ;
overflow-y: scroll;
}
