.form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
}

.form input,
.form textarea {
    border-radius: .5rem;
    margin-bottom: 1rem;
    padding: .5rem;
    resize: none;
    width: 100%;
}

.form textarea{
    height: 10rem;
}
